
body{
    hr{
        border-color: white;
        margin-left: 5px;
    }
    h2{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: underline;
    }
}.one{
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    padding-bottom:25px;
    border-color: rgb(102, 105, 242);
    background-color: lightcoral;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
}
.two{
    text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    padding-bottom:25px;
    border-color: rgb(102, 105, 242);
    background-color: lightcoral;
    border-radius: 10px;
    li{
        list-style: none;
    }
}
.three{
    text-align: center;
    margin-left: 550px;
    margin-right: 550px;
    padding-bottom:25px;
    border-color: rgb(102, 105, 242);
    background-color: lightcoral;
    border-radius: 10px;
    li{
        list-style: none;
    };
    box-shadow: 2px 2px 10px black;
}
.four{
    background-color: black;
    border-radius: 20px;
    color: aliceblue;
    padding-bottom: 25px;
    padding-top: 25px;
    box-shadow: 2px 2px 10px black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.five{
     text-align: center;
    margin-left: 250px;
    margin-right: 250px;
    padding-bottom:25px;
    border-color: rgb(102, 105, 242);
    background-color:lightcoral;
    border-radius: 10px;
    li{
        list-style: none;
    }
}
.three:hover{
background-color: blue;
}
.one:hover{
    background-color: blue;
}
li{
    list-style: none;
}